@{
    ViewData["Title"] = "Index";
}

@model RegisterUserViewModel

<div class="container d-flex align-items-center justify-content-center">

    <div class="card text-center shadow-0 w-50 shadow">
         <div asp-validation-summary="All" class="text-danger"></div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="/Images/salah.jpg" class="img-fluid w-25" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Register To Salaty</h5>
            <p class="card-text">
            <form method="post" class="text-start">
                <div class="mb-3">
                    <label asp-for="@Model.FirstName" class="form-label"></label>
                    <input class="form-control" asp-for="@Model.FirstName" placeholder="enter ur FirstName">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.LastName" class="form-label"></label>
                    <input class="form-control" asp-for="@Model.LastName" aria-describedby="helpId"
                        placeholder="enter ur LastName">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.EmailAddress" class="form-label"></label>
                    <input class="form-control" asp-for="@Model.EmailAddress" aria-describedby="helpId"
                        placeholder="enter ur email">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Password" class="form-label"></label>
                    <input class="form-control" asp-for="@Model.Password" aria-describedby="helpId"
                        placeholder="enter ur password">
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
                    <input class="form-control" asp-for="@Model.ConfirmPassword" aria-describedby="helpId"
                        placeholder="confirm the password">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" name="submit-btn" id="submit-btn" class="btn btn-primary">Register</button>
                </div>
            </form>
            </p>
        </div>
        <div class="card-footer"><small><a asp-action="Index" asp-controller="Home">Login Instead !</a></small></div>
    </div>
</div>
